@Master['layout/layout.html']

@Section['Content']
   <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Miusiquita</h1>
                <p>Create rooms with music and play sync mobile, or something like that yay!!!</p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h2>Apps</h2>
                    <p>Android, iPhone, Windows Phone</p>
                </div>
                <div class="span4">
                    <h2>Reaction</h2>
                    <p>gr8t</p>
               </div>
                <div class="span4">
                    <h2>Support</h2>
                    <p>Call me maybe</p>
                </div>
            </div>
@EndSection